<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./reset.css" rel="stylesheet" />
    <link href="./global.css" rel="stylesheet" />
    <link href="./main.css" rel="stylesheet" />
    <title>{{title}}</title>
</head>
<body>
<div class="container">
    <header class="header">
        <a href="/"><img src="./img/signiture.svg" /></a>
        <ul class="header__menu">
            {% if isLoggedIn == true %}
            <li class="header__menu__item">
                <a class="btn btn_contained btn_size_s" href="/article">글쓰기</a>
            </li>
            <li class="header__menu__item">
                <a class="btn btn_contained btn_size_s" href="/user/list">사용자 목록</a>
            </li>
            <li class="header__menu__item">
                <a id="logout-btn" class="btn btn_ghost btn_size_s" href="/logout">
                    로그아웃
                </a>
            </li>
            <li class="header__menu__item">
                <span>{{userName}}님 환영합니다</span>
            </li>
            {% else %}
            <li class="header__menu__item">
                <a class="btn btn_contained btn_size_s" href="/login">로그인</a>
            </li>
            <li class="header__menu__item">
                <a class="btn btn_ghost btn_size_s" href="/registration">
                    회원 가입
                </a>
            </li>
            {% endif %}
        </ul>
    </header>
    <div class="wrapper">
        {% for post in posts %}
        <div class="post">
            <div class="post__account">
                <img class="post__account__img" src="/image?userId={{post.userId()}}" />
                <p class="post__account__nickname">{{post.userName()}}</p>
            </div>
            <img class="post__img" src="{{post.imageUrl()}}" />
            <div class="post__menu">
                <ul class="post__menu__personal">
                    <li>
                        <button class="post__menu__btn">
                            <img src="./img/like.svg" />
                        </button>
                    </li>
                    <li>
                        <button class="post__menu__btn">
                            <img src="./img/sendLink.svg" />
                        </button>
                    </li>
                </ul>
                <button class="post__menu__btn">
                    <img src="./img/bookMark.svg" />
                </button>
            </div>
            <p class="post__article">
                <span style="font-weight: bold;">{{post.title()}}</span>
                <br />
                {{post.content()}}
            </p>
        </div>
        <ul class="comment">
            {% for comment in post.comments() %}
            <li class="comment__item">
                <div class="comment__item__user">
                    <img class="comment__item__user__img" src="/image?userId={{comment.userId()}}" />
                    <p class="comment__item__user__nickname">{{comment.userName()}}</p>
                </div>
                <p class="comment__item__article">
                    {{comment.comment()}}
                </p>
            </li>
            {% endfor %}
            <form class="comment-form" action="/comment?postId={{post.id()}}" method="POST">
                <input
                        class="comment-input"
                        name="comment"
                        placeholder="댓글을 남겨보세요!"
                        required
                />
                <button
                        class="comment-button"
                        type="submit"
                >
                    댓글 남기기
                </button>
            </form>
        </ul>
        {% endfor %}
        <nav class="nav">
            <ul class="nav__menu">
                <li class="nav__menu__item">
                    <a class="nav__menu__item__btn" href="/">
                        <img class="nav__menu__item__img" src="./img/ci_chevron-left.svg" />
                        이전 글
                    </a>
                </li>
                <li class="nav__menu__item">
                    <a class="btn btn_ghost btn_size_m" href="/article">글 작성</a>
                </li>
                <li class="nav__menu__item">
                    <a class="nav__menu__item__btn" href="/">
                        다음 글
                        <img class="nav__menu__item__img" src="./img/ci_chevron-right.svg" />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
